@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --black: #000; 
    --light-green: #E5FFF4;
    --dark-green: #58C69E;
    --dark-gray: #787C78;
    --gray: rgba(0, 0, 0, 0.2);
    --white: #fff;
    --shadow: 0 0 1.5rem rgba(69, 73, 78, 0.3);
    --font-regular: 'Open Sans', sans-serif;
    --font-headings: 'Montserrat', sans-serif;
    --font-size-regular: 20px;
    --photo: url(../assets/img/photo.jpg);
}

/*COMMON styles*/
* {
    font-family: var(--font-regular);
    line-height: 2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size-regular);
    scroll-behavior: smooth;
}

body {
    background: var(--white);
}

.container {
    max-width: 1440px;
}

ul {
    list-style-type: none;
}

a {
    font-family: var(--font-regular);
    color: var(--black);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    cursor: pointer;
}

.section-heading {  
    width: fit-content;
    margin: 90px auto 0;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .7rem;
}

.section-heading::after {
    display: block;
    content: '';
    position: relative;
    left: -60px;
    border-radius: 0.7px;
    height: .5px;
    width: calc(100% + 120px);
    margin: 0 auto 50px;    
    background: var(--black);
}

.border-block {
    margin: 0 auto;
    padding: 15px 20px;
    background: var(--light-green);
    border-left: 5px solid var(--dark-green);
}

.blur-background {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 100%;
}

/*HEADER*/
.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0;    
}

.header__photo {
    width: 265px;
    height: 265px;
    background-image: var(--photo);
}

.header__inner-container {
    margin-left: 70px;
}

.header__name,
.header__position {
    text-transform: uppercase;
    letter-spacing: 0.44rem;
}

.header__name {
    margin: 30px 0 20px;
    font-size: 1.8rem;
    font-weight: 700;
}

.header__position {
    font-size: 1.3rem;
    font-weight: 500;
}

/*NAV*/
.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    height: 40px;
}

.menu__list-item {
    display: block;
    font-size: var(--font-size-regular);
}

.menu__list-item:hover {
    color: var(--dark-green);
}

.menu__list-item::after {
    display: block;
    content: '';
    border-radius: 0.7px;
    width: auto;
    height: 1px;
    background: var(--dark-green);
    opacity: 0;
    transition: 0.5s;
}

.menu__list-item:hover::after {
    opacity: 1;
}

/*MAIN*/
.columns {
    display: flex;
}

.left-column {
    flex-grow: 1;
    padding: 0 40px;
}

.right-column {
    flex-grow: 2;
    padding: 0 33px;
}

/*CONTACTS SECTION*/
.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 370px;
}

.contacts__list-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts__link:hover {
    color: var(--dark-green);
}

.contacts__link::after {
    display: block;
    content: '';
    border-radius: 0.7px;
    width: auto;
    height: 1px;
    background: var(--dark-green);
    opacity: 0;
    transition: 0.5s;
}

.contacts__list-item:hover .contacts__link::after {
    opacity: 1;
}

/*SKILLS*/
.skills-section {
    position: relative;
}

.skills__table {
    margin: 0 auto;
    width: 460px;
}

.skill-name {
    width: 54%;
    padding: 2px 0;
    font-weight: 700;
    text-align: right;
    vertical-align: top;
}

.skill-description {
    padding: 2px 0 2px 25px;
}

.skills__background {
    top: calc(50% + 60.5px);
    left: calc(50% - 100px / 2);
    box-shadow: 0 0 175px 200px #58C69E4D;
}

/*LANGUAGES*/
.language__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.language-card {
    width: 420px;
    font-size: 18px;
    transition: 0.5s;
}

.language-card:hover {
    background: var(--white);
}

.language-card h3 {
    color: var(--dark-green);
    transition: 0.5s;
}

.language-card:hover h3 {
    color: var(--black);
}

/*ADDITIONAL*/
.additional-section {
    position: relative;
}

.additional__background {
    top: calc(50% + 60.5px);
    left: calc(50% - 100px / 2);
    box-shadow: 0 0 125px 150px #58C69E4D;
}

.additional__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 262px;
    margin: 0 auto;
    font-size: 18px;
}

.hobbies__list {
    list-style-type: disc;
    padding-left: 50px;
}

/*ABOUT*/
.about__text {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.about__list-heading {
    margin-top: 10px;
    font-size: 18px;
}

.about__list {
    margin-left: 50px;
    list-style-type: disc;
    font-size: 18px;    
}

/*EDUCATION*/
.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.education-card {
    width: fit-content;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 18px;
    background: var(--gray);
    transition: 0.5s;
}

.education-card:hover {
    color: var(--white);
    background: var(--dark-gray);
}

.education__when,
.education__where {
    font-size: 20px;
}

.education__specialization {
    margin-top: 20px;
    margin-left: 30px;
}

.education__faculty {
    margin-left: 30px;
}

/*CODE*/
.code-block { 
    width: 600px;
    margin: 0 auto;
    border-radius: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.code-block:hover {
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
}

.code__function-name {   
    color: #4b83cc;
    font-weight: 700;
}

.code__variable {
    color: #f59031;
}

.code__function {
    color: #9863bb;
    font-weight: 700;
}